<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Full name", autofocus: true, class: "input" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "new-password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn secondary-btn"  %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

