<section class="user">
  <h1><%= @user.name %> Profile</h1>
  <p><span class="user-detail">Name:</span> <%= @user.name %></p>
  <p><span class="user-detail">Email:</span> <%= @user.email %></p>
  <p><span class="user-detail">Session count:</span> <%= @user.sign_in_count %></p>
  <p><span class="user-detail">Current sign-in at:</span> <%= @user.current_sign_in_at %></p>
  <p><span class="user-detail">Last sign-in at:</span> <%= @user.last_sign_in_at %></p>

  <div class="btn-container">
    <%= button_to "Edit Profile", class: "btn edit-btn"%>
    <%= button_to "View Budgets", class: "btn primary-btn"%>
  </div>
</section>
