<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <h2 class="sub-title">Change your password</h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, placeholder: "New password", autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn primary-btn" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>

