<%= form_for(@category) do |f| %>
  <h1 class="sub-title">Create Category</h1>

  <div class="field">
    <%= f.text_field :name, placeholder: "Category name", autofocus: true, class: "input" %>
  </div>

  <div class="check-box-field">
    <p class="sign-link">Select an icon for category</p>
    <div class="check-boxes">
      <% Category::ICONS.each do |i| %>
      <span>
        <%= f.radio_button :icon, "https://raw.githubusercontent.com/PraisesPJMT/Data/main/categories/#{i}.png", id: i %>
        <label for="<%=i%>" class="custom-radio">
        <img src="https://raw.githubusercontent.com/PraisesPJMT/Data/main/categories/<%= i %>.png" class="select-icon" alt=<%= i %>>
      </label>
      </span>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn secondary-btn"  %>
  </div>

<% end %>