<section class="category-section">
  <div class="cat-container">
    <div class="cat">
      <img class="category-img" src=<%=@category.icon%> alt=<%=@category.name %> />
      <div class="cat-card-info">
        <p class="cat-det">
          <span class="cat-sec-name"><%= @category.name %></span>
          <span class="cat-card-amount">$50</span>
        </p>
        <div class="cat-sec-date">
          <p><%= @category.created_at.strftime("%d ") + @category.created_at.strftime("%B")[0..2] + @category.created_at.strftime(" %Y at %I:%M %p") %></p>
          <div class="sm-btn-card">
            <%= button_to "EDIT", edit_category_path(@category), method: :get, class: "sm-btn primary-btn" %>
            <%= button_to "DELETE", category_path(@category), method: :delete, class: "sm-btn delete-btn"%>
          </div>
        </div>
      </div>
    </div>
    <div class="trans-card">
      <p class="trans-sec-total">
        <span class="cat-sec-name">First transaction</span>
        <span class="cat-card-amount">$50</span>
      </p>
      <div class="trans-date">
        <p><%= @category.created_at.strftime("%d ") + @category.created_at.strftime("%B")[0..2] + @category.created_at.strftime(" %Y at %I:%M %p") %></p>
        <div class="sm-btn-card">
          <%= button_to "DELETE", category_path(@category), method: :delete, class: "sm-btn delete-btn"%>
        </div>
      </div>
    </div>
    <div class="trans-card">
      <p class="trans-sec-total">
        <span class="cat-sec-name">Second transaction and some random long text</span>
        <span class="cat-card-amount">$50</span>
      </p>
      <div class="trans-date">
        <p><%= @category.created_at.strftime("%d ") + @category.created_at.strftime("%B")[0..2] + @category.created_at.strftime(" %Y at %I:%M %p") %></p>
        <div class="sm-btn-card">
          <%= button_to "DELETE", category_path(@category), method: :delete, class: "sm-btn delete-btn"%>
        </div>
      </div>
    </div>
    <div class="trans-card">
      <p class="trans-sec-total">
        <span class="cat-sec-name">Third transaction</span>
        <span class="cat-card-amount">$50</span>
      </p>
      <div class="trans-date">
        <p><%= @category.created_at.strftime("%d ") + @category.created_at.strftime("%B")[0..2] + @category.created_at.strftime(" %Y at %I:%M %p") %></p>
        <div class="sm-btn-card">
          <%= button_to "DELETE", category_path(@category), method: :delete, class: "sm-btn delete-btn"%>
        </div>
      </div>
    </div>
    <p class="cat-sec-total">
      <span class="cat-sec-name">TOTAL TRANSACTIONS</span>
      <span class="cat-card-amount">$50</span>
    </p>
  </div>

  <div class="btn-container">
    <%= link_to "NEW TRANSACTION", new_category_path, class: "btn secondary-btn" %>
  </div>
</section>
